#info:
#  app:
#    name: "Hotel service"
#    version: "1.0.0"
#    description: "Service for booking hotels"

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus,env"
  endpoint:
    health:
      show-details: ALWAYS
      probes:
        enabled: true
    prometheus:
      enabled: true
  health:
    readinessstate:
      enabled: true

spring:
  main:
    lazy-initialization: true
  application:
    name: hotel
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: false
    open-in-view: false
    hibernate:
      #      ddl-auto: validate
      ddl-auto: update
#      ddl-auto: none
    properties:
      hibernate.temp.use_jdbc_metadata_defaults: false
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5436}/${DB_NAME:hotel_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    hikari:
      schema: ${DB_SCHEMA:hotel_schema}
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS ${DB_SCHEMA:hotel_schema}
      connection-timeout: 10000
  data:
    mongodb:
      uri: mongodb://${MONGODB_USER:root}:${MONGODB_PASSWORD:root}@${MONGODB_HOST:localhost}:${MONGODB_PORT:27017}/${MONGODB_DBNAME:statistics-db}?authSource=admin
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}

  threads:
    virtual:
      enabled: true

server:
  port: ${APP_SERVER_PORT:8080}

app:
  security:
    adminUsername: ${APP_ADMIN_USERNAME:admin}
    adminPassword: ${APP_ADMIN_PASSWORD:admin}
  kafka:
    kafkaMessageGroupId: "hostel-statistics-group-id"
    kafkaStatisticsService:
      kafkaUserCreatedStatus: "user-status-service"
      kafkaBookingCreatedStatus: "booking-status-service"