spring:
  application:
    name: hotel
  jpa:
    generate-ddl: false
    open-in-view: false
    hibernate:
      #      ddl-auto: validate
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5436}/${DB_NAME:hotel_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    hikari:
      schema: ${DB_SCHEMA:hotel_schema}
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS hotel_schema
      connection-timeout: 10000
  threads:
    virtual:
      enabled: true

server:
  port: ${APP_SERVER_PORT:8080}

app:
  security:
    adminUsername: ${APP_ADMIN_USERNAME:admin}
    adminPassword: ${APP_ADMIN_PASSWORD:admin}